<mat-toolbar color="primary">  
    <mat-toolbar-row>
      <span style="font-size: 1.5em" >Chat Legend</span>
      <span class="pull-right-spacer"></span>
      <button *ngIf="username" style="font-size: 0.8em" mat-button  [matMenuTriggerFor]="settingsMenu">
        {{username}}<mat-icon class="icon">settings</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

<mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
  
